/* add code here to make your image 300px tall, have a border-radius of 25px, and a 1px black solid border.*/

body {
background-color: skyblue;
color: #f33809;}

header {
font-family: san-serif;
text-align: center;
 }

img {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  /* text-align: center; */
  display: block;
  margin: auto;

}

#tagline { 
  text-align: left;

}

h4 {
  margin: 20px;
  font-style: italic;
}

/* ?? the p tag is italic, but I don't have italic tag below (why?)*/
p {
  margin: 10px;
  color: blue;
}


ol li {
font-size: large;
color: green;
 }
/* ?? .last-p tag below shows in italic, but I don't have italic tag below(why?) */
.last-P {
  font-weight: bold;
  margin: 10px;
  font-size: large;
  color: #ff00d4;


} 
/* add code here to change the color and font family of your band's name/title */

/* Bonus: change the color of your list elements */